$test: 1px solid black;
$gold: url("https://wallpaperaccess.com/full/725383.png") 20% stretch;
$shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
$mauve: #D4B1B1;
$darkmauve:  #b18989;


@mixin fullPage() {
    height: 100vh;
    width: 100%;
}
@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}
@mixin fit() {
    width: 100%;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
    a {
        text-decoration: none;
        color: black;
        padding: 10px;
    }
    a:hover {
        border-top: 2px solid $mauve;
    }
}


.app {
    @include flexCenter(column);
}
.nav {
    @include flexCenter(row);
    background-color: white;
    height: 6vh;
    width: 100%;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    z-index: 10;
    border-bottom: 2px  solid;
    border-image: $gold;
    .logo {
        height: 95%;
        padding-left: 20px;
    }
    .links {
        width: 50%;
        @include flexCenter(row);
        justify-content: space-evenly;
        font-weight: bold;
    }
}

.landing {
    @include fullPage();
    background-image: url("/temp.png");
    background-position: center;
    background-size: cover;
}
#about {
    @include flexCenter(row);
    @include fullPage();
    .me{
        @include flexCenter(column);
        justify-content: space-evenly;
        height: 90%;
        width: 50%;
        // border: $test;
        box-shadow: $shadow;
        margin: 20px;
        .mecontent {
            @include flexCenter(column);
            justify-content: space-evenly;
            width: 80%;
            height: 25%;
            .head {
                border-image: $gold;
                border-bottom: 2px solid;
                margin-bottom: 20px;
                padding-bottom: 20px;
                color: $darkmauve;
            }
        }
        .imgbox {
            @include flexCenter(row);
            height: 50%;
            .mepic {
                object-fit: cover;
                height: 70%;
                border: 5px solid transparent;
                border-image: $gold;
                // box-shadow: $shadow;
            }
        }
        .icons{
            @include flexCenter(row);
            justify-content: space-around;
            height: 25%;
            width: 80%;
            // margin-top: 30px;
            // border: $test;
            .contacticons {
                height: 45px;
                width: 45px;
            }
        }
        .modal-window {
            position: fixed;
            background: rgba(0, 0, 0, 0.7);
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 999;
            visibility: hidden;
            opacity: 0;
            pointer-events: none;
            transition: all 0.3s;
            &:target {
              visibility: visible;
              opacity: 1;
              pointer-events: auto;
            }
            &>div {
                @include flexCenter(column);
              width: 45%;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              padding: 2em;
              background: #ffffff;
              .resumepic {
                  height: 700px;
                  box-shadow: $shadow;  
              }
            }
           
          }
          
          .modal-close {
            color: #aaa;
            line-height: 50px;
            font-size: 80%;
            position: absolute;
            right: 0;
            text-align: center;
            top: 0;
            width: 70px;
            text-decoration: none;
            &:hover {
              color: black;
            }
          }
    }
    .skills {
        @include flexCenter(column);
        justify-content: space-evenly;
        height: 90%;
        width: 50%;
        margin: 20px;
        box-shadow: $shadow;
        .skillboxes {
            height: 40%;
            width: 70%;
            border: 5px solid;
            border-image: $gold;
            // box-shadow: $shadow;
            .skillhead {
                @include flexCenter(column);
                width: 100%;
                height: 15%;
                background: linear-gradient(to left, $darkmauve, rgb(219, 199, 199));
                margin: 0px;
                color: white;
                // box-shadow: $shadow;
            }
            .skillList0 {
                @include flexCenter(row);
                justify-content: space-evenly;
                width: 100%;
                height: 85%;
                .skillcolumns {
                    @include flexCenter(column);
                    height: 100%;
                    width: 50%;
                    justify-content: space-evenly;
                    border: $test;
                }
            }
            .skillList {
                @include flexCenter(column);
                justify-content: space-evenly;
                flex-wrap: wrap;
                width: 100%;
                height: 85%;
                
            }
        }
    }
}

#projects {
    @include flexCenter(column);
    @include fullPage();

    .projboxes {
        @include flexCenter(row);
        flex-wrap: wrap;
        height: 95%;
        width: 98%;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        .projwrapper {
            @include flexCenter(column);
            height: 50%;
            width: 49%;
            border: $test;
            .links {
                @include flexCenter(row);
                width: 80%;
                justify-content: space-evenly;
                a {
                    text-decoration: none;
                    color: black;
                    padding: 10px;
                }
                a:hover {
                    border-top: 2px solid $mauve;
                }
            }
            .projectwrapper {
                height: 370px;
                width: 600px;
                border: 3px solid;
                border-image: $gold;
                margin: 20px;
                box-shadow: $shadow;
                .projtext {
                    @include flexCenter(column);
                    height: 370px;
                    width: 600px;
                    position: absolute;
                    z-index: 12;
                    opacity: 0;
                    background-color: rgba(0, 0, 0, 0.541);
                    color: white;
                    // border: $test;
                }
                .projtext:hover {
                        opacity: 1;
                    }
                    .projimg {
                        @include fit();
                        object-fit: cover;
                        z-index: 0;
                        // position: relative;
                    }
            }
        }
        
    }
}
#projects2 {
    @include flexCenter(column);
    height: 90vh;
    width: 100%;
    justify-content: space-evenly;
    .projboxes {
        @include flexCenter(row);
        justify-content: space-evenly;
        flex-wrap: wrap;
        height: 95%;
        width: 98%;
        overflow: scroll;
        box-shadow: $shadow;
        
        .projwrapper {
            @include flexCenter(row);
            height: 50%;
            width: 100%;
            margin: 30px;
            box-shadow: $shadow;
            .deets {
                @include flexCenter(column);
                justify-content: space-between ;
                width: 55%;
                height: 80%;
               
                .projtext {
                   
                    height: 50%;
                    width: 80%;
                    // text-align: center;
                    h1 {
                        margin-bottom: 20px;
                    }
                }
                i {
                    color: pink;
                }

                .links {
                    @include flexCenter(row);
                    width: 80%;
                    height: 20%;
                    justify-content: space-between;
                    font-weight: bold;
                    a { 
                        border: 1px solid transparent;
                        border:$test;
                        text-decoration: none;
                        color: black;
                        padding: 2% 19%;
                    }
                    a:hover {
                        box-shadow: 0 8px 16px 0 rgba(197, 153, 153, 0.247), 0 6px 20px 0 rgba(212, 147, 147, 0.616);
                    }
                }
            }
            .vanity {
                height: 80%;
                width: 40%;
                border: 5px solid;
                border-image: $gold;
                margin: 20px;
                // box-shadow: $shadow;
                background-image: url("/vanity.png");
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
            }
            .vanity:hover {
                background-image: url("https://media.giphy.com/media/J39apWTkTN9FAVgy4C/giphy.gif");
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
            }
            .closet {
                height: 80%;
                width: 40%;
                border: 5px solid;
                border-image: $gold;
                margin: 20px;
                // box-shadow: $shadow;
                background-image: url("/closet.png");
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
            }
            .closet:hover {
                background-image: url("https://media.giphy.com/media/YRW7XC7Ao6bfLVMF6H/giphy.gif");
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
            }
            .eatvite {
                height: 80%;
                width: 40%;
                border: 5px solid;
                border-image: $gold;
                margin: 20px;
                // box-shadow: $shadow;
                background-image: url("/eatvite2.png");
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
            }
            .eatvite:hover {
                background-image: url("https://media.giphy.com/media/j0Aaxfj8jK6dVROK6V/giphy.gif");
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
            }
            .tinlash {
                height: 80%;
                width: 40%;
                border: 5px solid;
                border-image: $gold;
                margin: 20px;
                // box-shadow: $shadow;
                background-image: url("/tinlash.png");
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
            }
            .tinlash:hover {
                background-image: url("https://media.giphy.com/media/H3HcQ5z3aw1M1QCUcn/giphy.gif");
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
        
    }
}
#connect {
    @include fullPage();
    @include flexCenter(row);
    justify-content: flex-start;
    background-image: url("/fishcode.png");
    background-position: center;
    background-size: cover;
    .card {
        @include flexCenter(column);
        justify-content: space-evenly;
        border: 5px solid;
        border-image: $gold;
        box-shadow: $shadow;
        height: 50%;
        width: 40%;
        margin: 0px 5%;
        .deetbox {
            @include flexCenter(row);
            justify-content: space-between;
            padding: 0px 20px;
            width: 60%;
            height: 20%;
            background-color: rgba(255, 255, 255, 0.795);
            border-radius: 5px;
            box-shadow: $shadow;
            .icons {
                height: 80%;
            }
        }
       
    }

}
@media screen and (max-width: 1020px) { 
    #about {
        @include flexCenter(column);
        @include fullPage();
        .me{
            @include flexCenter(column);
            justify-content: space-evenly;
            height: 90%;
            width: 100%;
            // border: $test;
            box-shadow: $shadow;
            margin: 20px;
            
        }
        .skills {
            @include flexCenter(column);
            justify-content: space-evenly;
            height: 90%;
            width: 100%;
            margin: 20px;
            box-shadow: $shadow;
            
        }
    }
    #connect {
        @include fullPage();
        @include flexCenter(row);
        // justify-content: flex-start;
        background-image: url("/fishcode.png");
        background-position: center;
        background-size: cover;
        .card {
            @include flexCenter(column);
            justify-content: space-evenly;
            border: 5px solid;
            border-image: $gold;
            box-shadow: $shadow;
            height: 50%;
            width: 80%;
            // margin: 0px 5%;
            .deetbox {
                @include flexCenter(row);
                justify-content: space-between;
                padding: 0px 20px;
                width: 60%;
                height: 20%;
                background-color: rgba(255, 255, 255, 0.795);
                border-radius: 5px;
                box-shadow: $shadow;
                .icons {
                    height: 80%;
                }
            }
           
        }
    
    }

}
  
@media screen and (max-width: 600px) { 
    .nav {
        @include flexCenter(row);
        background-color: white;
        height: 6vh;
        width: 100%;
        justify-content: space-between;
        position: sticky;
        top: 0px;
        z-index: 10;
        border-bottom: 2px  solid;
        border-image: $gold;
        .logo {
            height: 95%;
            padding-left: 20px;
        }
        .links {
            width: 50%;
            @include flexCenter(row);
            justify-content: space-evenly;
            font-weight: bold;
            display: none;
        }
    }
    #about {
        height: 100%;
        .me {
            .imgbox {
                @include flexCenter(row);
                height: 50%;
                .mepic {
                    object-fit: cover;
                    height: 200px;
                    border: 5px solid transparent;
                    border-image: $gold;
                    // box-shadow: $shadow;
                }
            }
        }
    }
    #projects2 {
        height:100%;
        .projboxes {
        @include flexCenter(row);
        justify-content: space-evenly;
        flex-wrap: wrap;
        height: 95%;
        width: 98%;
        overflow: scroll;
        box-shadow: $shadow;
        
        .projwrapper {
            @include flexCenter(row);
            height: 50%;
            width: 100%;
            margin: 30px;
            box-shadow: $shadow;
            .deets {
                @include flexCenter(column);
                justify-content: space-between ;
                width: 55%;
                height: 80%;
               
                .projtext {
                   
                    height: 50%;
                    width: 80%;
                    // text-align: center;
                    h1 {
                        margin-bottom: 0px;
                    }
                }
                i {
                    color: pink;
                }

                .links {
                    @include flexCenter(row);
                    width: 80%;
                    height: 20%;
                    justify-content: space-between;
                    font-weight: bold;
                    a { 
                        border: 1px solid transparent;
                        border:$test;
                        text-decoration: none;
                        color: black;
                        padding: 2% 19%;
                    }
                    a:hover {
                        box-shadow: 0 8px 16px 0 rgba(197, 153, 153, 0.247), 0 6px 20px 0 rgba(212, 147, 147, 0.616);
                    }
                }
                
            }
            .vanity, .closet, .eatvite, .tinlash {
                height: 200px;
            }
        }
    }   
    }
}
@media screen and (max-width: 414px) {
    #projects2 {
        .projboxes {
            flex-direction: column;
            .projwrapper {
                flex-direction: column;
                .deets {
                    width: 90%;
                }
                .vanity, .closet, .eatvite, .tinlash {
                    height: 150px;
                    width:80%;
                }
            }
        }
    }
    #connect {
        .card {
            width: 90%;
            .deetbox {
                width: 80%;
                .icons {
                    height: 50%;
                }
            }
        }
    }
 }